<!DOCTYPE html>

<?php
	//echo $id;
	$conditions = "id_amigo = :id: OR id_cuate = :id:";
	$parameters = array(
		    "id" => $id
		);
	$idamistad = Amistad::findFirst(array($conditions, "bind" => $parameters));


	$chat = Chat::find("idamistad=$idamistad->id");
?>

<html>

<style>

body, html{
    height:100%;
    width: 100%;
    line-height: 100%;
}

div{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#container{

    height:100%;

    width: 100%;

    text-align: center;

    overflow: auto;

}

.side-bar {

    width: 90%;

    height: 50%;

    text-align: center;

    color: white;

    display: inline-block;

    vertical-align: top;

}

.wrapper{

    margin-top: -40px;

    padding-top: 40px;

    height: 100%;

    width: 100%;

    white-space: nowrap;

}

.wrapper > div{

    white-space: normal;

}

.content_wrapper{

    margin-top: -30px;

    padding-top: 30px;

    height: 500px;

    background-color: white;

}

.content{

    color: black;

    height: 100%;

    overflow: auto;

}



</style>

<head>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="jquery-1.12.0.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=MaterialIcons" rel="stylesheet">

    <meta charset="UTF-8">

    <script>

$(document).ready(function() 
{
    $('#mensaje').keydown(function(event) 
    {
        if (event.keyCode == 13) 
        {
            $('#enviar').click();
         }
    });
});

      function uploadchatfunction() 
          {
            
            var xhttp;
            var id = <?php echo $id;?>;
            var mensaje = document.getElementById("mensaje").value;
            //alert(mensaje);
            var idamistad = <?php echo $idamistad->id;?>;
            xhttp = new XMLHttpRequest();
            //alert(id+" "+idamistad);
            

            xhttp.open("POST", "enviarmensaje", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("id="+id+"&idamistad="+idamistad+"&mensaje="+mensaje);
            document.getElementById("mensaje").value = "";

          }
    </script>

</head>

<body style= "background-color:teal;">  

	<div class="navbar-fixed" "background-color:teal;">

    <nav>

      <div class="nav-wrapper">

        <ul class="right hide-on-med-and-down">

          <li><a href="#">Cuates Registrados</a></li>

          <li><a href="#">Amigos Registrados</a></li>

          <li><a href="#">Crear Amistades</a></li>

          <li  class="active"><a href="#">Amistades</a></li>

        </ul>

      </div>

    </nav>

  </div>

<div class="container" align="center">

	<img style="-webkit-user-select: none" src="../img/logo.png">

<div class="row" align="center">

<div class="container" align="center">


    <div class="card-panel purple lighten-4">
	<h1>Bienvenido al Chat</h1>
    <h5>¡En el recuadro de abajo podrás chatear con tu amigo o cuate!</h5>
    <h5>Para chatear, escribe tu mensaje en el recuadro rosa debajo ↓</h5>
    </div>



<div class="row" align="center">
<div class="row"></div>


<div id='container'>

    <div class="wrapper">

        <div class="side-bar">

            <div class="content_wrapper">

                <div class="content" id="update">
          
					<script>

          setInterval(updatechatfunction, 1000);

					function updatechatfunction() 
					{
						
					  var xhttp;
            var id = <?php echo $id;?>;

            var idamistad = <?php echo $idamistad->id;?>;
					  xhttp = new XMLHttpRequest();
            //alert(id+" "+idamistad);
					  xhttp.onreadystatechange = function() 
            {

					  if (xhttp.readyState == 4 && xhttp.status == 200) 
					  {					    
					    document.getElementById("update").innerHTML = xhttp.responseText;
					    }
					  };

					  xhttp.open("POST", "updatechat", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					  xhttp.send("id="+id+"&idamistad="+idamistad);
					}
					</script>

                </div>

 				</div>

 <div class="row">
     
     <div class="row">
     
      <div class="row">

        <div class="input-field col s12 card-panel red lighten-3">
            
            <h5>Escribe tu mensaje aquí ☻</h5>

          <textarea id="mensaje" name="mensaje" class="materialize-textarea " onkeydown="if (event.keyCode == 13) { uploadchatfunction(); this.value = '';}"></textarea>

          <!--<label for="mensaje" class="active transparent">Escribe tu mensaje</label>-->

        </div>

      </div>

      <button class="btn waves-effect waves-light" id="enviar" onclick="uploadchatfunction();">Enviar

	    <i class="material-icons right">send</i>

	  </button>

  </div>


</div>

</div>


</body>

</html>