<!DOCTYPE html>
<html lang="es-419">
<head>
    <meta charset="UTF-8">
    <title>Formulario Amigo Universidad</title>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" href="../public/materialize/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../public/materialize/js/materialize.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script> 
    
<div class="container">
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Best Buddies de México A.C.</h2>
            <div class="row">
                <form class="col s12" action="guardaramigo" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s12">
                            ¡Bienvenido a Best Buddies - Mejores Amigos! Estamos muy emocionados por contar contigo para enlazarte en una amistad de persona a persona. Llena este cuestionario para ayudar al equipo de Best Buddies de México a encontrar a alguien que comparta tus intereses. Esta membresía es usada exclusivamente por Best Buddies Internacional y Best Buddies México A. C. La información contenida permanecerá en ESTRICTA CONFIDENCIALIDAD. Las membresías aceptadas te otorgarán derechos y la protección de Best Buddies Internacional así como los beneficios de todos los voluntarios de la organización. Una vez completa, deberá ser entregada a tu gerente de programa.
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m3 s12">
                            <input id="1" type="text">
                            <label for="1">Duración S.S</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Foto</span>
                                <input type="file" name="imagen">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Sube una foto reciente de ti">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="first_name" name="nombre" type="text">
                            <label for="first_name">Nombre Completo</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="edad" name="edad" type="number">
                            <label for="edad">Edad</label>
                        </div>
                        <div class="input-field col m1 s12">
                            <label for="disabled">Sexo</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input name="sexo" type="radio" id="hombre" value="H"/>
                            <label for="hombre">Hombre</label>
                            <input name="sexo" type="radio" id="mujer" value="M"/>
                            <label for="mujer">Mujer</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Dirección</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m5 s12">
                            <input id="calle" name="calle" type="text">
                            <label for="calle">Calle</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="numero" name="numero" type="number">
                            <label for="numero">Número</label>
                        </div>
                        <div class="input-field col m5 s12">
                            <input id="colonia" name="colonia" type="text">
                            <label for="colonia">Colonia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m8 s12">
                            <input id="delegacion" name="delegacion" type="text">
                            <label for="delegacion">Delegación o Municipio</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="codigo_postal" name="codigo_postal" type="number">
                            <label for="codigo_postal">Código Postal</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="estado" name="estado" type="text">
                            <label for="estado">Estado</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="telefono" name="telefono_casa" type="tel" class="validate">
                            <label for="telefono">Teléfono de Casa</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <i class="material-icons prefix">stay_current_portrait</i>
                            <input id="celular" name="celular" type="text" class="validate">
                            <label for="celular">Celular</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <i class="mdi-content-mail prefix"></i>
                            <input id="email" name="correo" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="telefono_emergencia" name="telefono_contacto_emergencia" type="text">
                            <label for="telefono_emergencia">Teléfono y Contacto en caso de emergencia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <input id="nombre_escuela" name="nombre_escuela" type="text">
                            <label for="nombre_escuela">Nombre de la escuela</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input id="semestre" name="year_semestre" type="number">
                            <label for="semestre">Año o semestre escolar</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="generacion" name="generacion" type="text">
                            <label for="generacion">Generación</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input id="matricula" name="matricula" type="text">
                            <label for="matricula">Número de cuenta escolar</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="carrera" name="carrera" type="text">
                            <label for="carrera">Carrera (nombre completo)</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Por favor en un parrafo corto expresa: tus cualidades y defectos, tu relacion con las personas y que es la amistad para ti.</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    
                   
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="mensaje_amistad" name="amistad_es" class="materialize-textarea"></textarea>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Por favor, en un corto parrafo explica si haz tenido experiencia con personas con discapacidad intelectual, cual es tu mayor preocupacion al estar una persona asi y que te aportaria personalmente este servicio social</label>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="mensaje_experiencia" name="cual_sido" class="materialize-textarea"></textarea>
                        </div>
                    </div>
                    
                    <!-- Inicio agregados para la nueva vista amigo-->

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Por favor, marca del 0 al 5 (siendo 0 nada y 5 mucho), cuanto te gusta realizar estas actividades:</label>
                        </div>
                    </div>
                    
                    <div class="row">
                    
                        <div class="input-field col m3 s12"></div>
                        <div class="input-field col m6 s6">
                            <div class="input-field col m3 s12">
                                <label for="disabled">Ir al cine</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="cine" name="cine" min="0" max="5" value="cine"/>
                            </p>
                            
                            <div class="input-field col m3 s12">
                                <label for="disabled">Ir al parque</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="parque" name="parque" min="0" max="5" value="parque"/>
                            </p>
                            
                            <div class="input-field col m4 s12">
                                <label for="disabled">Ir a tomar un café</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="cafe" name="cafe" min="0" max="5" value="cafe"/>
                            </p>
                            
                            <div class="input-field col m5 s12">
                                <label for="disabled">Ir a un evento deportivo</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="deportivo" name="deportivo" min="0" max="5" value="deportivo"/>
                            </p>
                            
                            <div class="input-field col s12">
                                <label for="disabled">Jugar un videojuego</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="videojuego" name="videojuego" min="0" max="5" value="videojuego"/>
                            </p>
                            
                            <div class="input-field col s12">
                                <label for="disabled">Leer un libro</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="libro" name="libro" min="0" max="5" value="libro"/>
                            </p>
                        </div>
                        <div class="input-field col m3 s12"></div>
                    </div>
                        
                    <!-- Fin agregados para la nueva vista amigo-->
                
                    <div class="row">
                        <div class="input-field col m1 s12">
                        </div>
                        <div class="input-field col m2 s12">
                        <label for="disabled">¿Tienes automóvil?</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input name="carro" value="1" type="radio" id="si_automovil" />
                            <label for="si_automovil">Sí</label>
                            <input name="carro" value="0" type="radio" id="no_automovil" />
                            <label for="no_automovil">No</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <label for="disabled">Si lo tienes, necesitaremos una fotocopia de tu seguro.</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Foto</span>
                                <input type="file" name="imgcarro">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Sube una foto de tu seguro">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m1 s12">
                        </div>
                        <div class="input-field col m2 s12">
                            <label for="disabled">Fecha de expiración</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input type="date" name="fecha_expiracion" class="datepicker">
                        </div>
                        <div class="input-field col m4 s12">
                        <label for="disabled">¿Lo usarás para reunirte con tu cuate?</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input name="lo_usaras" value="1" type="radio" id="si_reunirte" />
                            <label for="si_reunirte">Sí</label>
                            <input name="lo_usaras" value="0" type="radio" id="no_reunirte" />
                            <label for="no_reunirte">No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Doy autorización para ser fotografiado o filmado en cualquier actividad relacionada con Best Buddies de México y entiendo que las fotografías o videos serán utilizados bajo la discreción de Best Buddies con fines publicitarios.</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="fotografiado" value="1" type="radio" id="si_autorizo" />
                            <label for="si_autorizo">Sí</label>
                            <input name="fotografiado" value="0" type="radio" id="no_autorizo" />
                            <label for="no_autorizo">No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">¿Has sido expulsado, despedido o te han pedido renunciar de algún trabajo pagado o voluntario a causa de algún acoso sexual?</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="expulsado" value="1" type="radio" id="si_expulsado" />
                            <label for="si_expulsado">Sí</label>
                            <input name="expulsado" value="0" type="radio" id="no_expulsado" />
                            <label for="no_expulsado">No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">¿Has sido penalmente acusado de algún crimen sexual, incluyendo acoso o abuso sexual a menores?</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="input-field col m3 s12">
                            <input name="crimen" value="1" type="radio" id="si_penalmente" />
                            <label for="si_penalmente">Sí</label>
                            <input name="crimen" value="0" type="radio" id="no_penalmente" />
                            <label for="no_penalmente">No</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                        
                    <div class="divider"></div>
                        
                  
                    <div class="row">
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">También estoy de acuerdo en asistir a todas las actividades y reuniones de trabajo del capítulo o de todo el grupo de Best Buddies. Cualquier información personal de mi Cuate y mia será guardada en confidencialidad y podré discutirla solamente con el staff de Best Buddies.</label>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                    </div>
                        
                    <div class="divider"></div>
                        
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="firma" name="firma" type="text">
                            <label for="firma">Firma</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button class="btn btn-large waves-effect waves-light" type="submit" name="action">Enviar Formato</button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
    $(document).ready(function() {
    $('select').material_select();
});
</script>     
</body>
</html>