<!DOCTYPE html>
<html lang="es-419">
<head>
    <meta charset="UTF-8">
    <title>Formulario Cuate</title>
    <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" type="text/css" href="../public/materialize/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../public/materialize/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script> 

<div class="row"></div>
<div class="container z-depth-2"> <!-- style="background: rgb(103,58,183) -->
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <div class="row"></div>
            <div class="row">
                <div class="row col m4 s12">
                    <img class="responsive-img" src="images/logo.png">
                </div>
                <div class="center-align row col m8 s12">
                <h1>Formato Del Cuate</h1>
                </div>
            </div>
            <div class="row">
                <form class="col s12" action="guardarcuate" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s12">
                            Este formato deberá ser llenado por los cuates y el familiar responsable que lo acompañe con el fin de obtener información que nos sirva para enlazarlos en una amistad de uno a uno. Por favor, se lo más explícito y honesto posible. Toda la información será compartida con el Voluntario y permanecerá en ESTRICTA CONFIDENCIALIDAD. Esta forma deberá estar acompañada de la carta responsiva y el certificado médico.
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Foto</span>
                                <input type="file" name="imagen">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Sube una foto reciente de ti">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="first_name" name="nombre" type="text">
                            <label for="first_name">Nombre Completo</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="edad" name="edad" type="number">
                            <label for="edad">Edad</label>
                        </div>
                        <div class="input-field col m1 s12">
                            <label for="disabled">Sexo</label>
                        </div>
                        <div class="input-field col m3 s12">
                            <input name="sexo" type="radio" id="hombre" value="H"/>
                            <label for="hombre">Hombre</label>
                            <input name="sexo" type="radio" id="mujer" value="M"/>
                            <label for="mujer">Mujer</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Fecha de Nacimiento</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="date" name="fecha_nacimiento" class="datepicker">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Dirección</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m5 s12">
                            <input id="calle" name="calle" type="text">
                            <label for="calle">Calle</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="numero" name="numero" type="number">
                            <label for="numero">Número</label>
                        </div>
                        <div class="input-field col m5 s12">
                            <input id="colonia" name="colonia" type="text">
                            <label for="colonia">Colonia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <input id="delegacion" name="delegacion_municipio" type="text">
                            <label for="delegacion">Delegación o Municipio</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="codigo_postal" name="codigo_postal" type="number">
                            <label for="codigo_postal">Código Postal</label>
                        </div>
                        <div class="input-field col m2 s12">
                            <input id="estado" name="estado" type="text">
                            <label for="estado">Estado</label>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="input-field col m4 s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="telefono" name="telefono_casa" type="tel" class="validate">
                            <label for="telefono">Teléfono de Casa</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <i class="material-icons prefix">phone</i>
                            <input id="telefono_oficina" name="telefono_oficina" type="tel" class="validate">
                            <label for="telefono_oficina">Teléfono de Oficina</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input id="horarios" name="horario" type="text">
                            <label for="horarios">Horarios</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <i class="mdi-content-mail prefix"></i>
                            <input id="email" name="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">stay_current_portrait</i>
                            <input id="celular" name="celular" type="text" class="validate">
                            <label for="celular">Celular</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="nombre_padre" name="padre" type="text">
                            <label for="nombre_padre">Nombre del Padre</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="nombre_madre" name="madre" type="text">
                            <label for="nombre_madre">Nombre de la Madre</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="personalidad" name="personalidad" type="text">
                            <label for="personalidad">Por favor describe tu personalidad</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="mensaje_necesidad" name="necesidad" class="materialize-textarea"></textarea>
                            <label for="mensaje_necesidad">Menciona cualquier necesidad especial de la cual Best Buddies deba estar informado: (enfermedades, alergías, uso de bloqueador, medicamentos, etc.)</label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="gustaria_visitar" name="gustar" type="text">
                            <label for="gustaria_visitar">¿Qué te gustaría hacer con tu nuevo amigo?</label>
                        </div>
                    </div>
                        
                    <!-- Inicio agregados para la nueva vista amigo-->

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="disabled">Por favor, marca del 0 al 5 (siendo 0 nada y 5 mucho), cuanto te gusta realizar estas actividades:</label>
                        </div>
                    </div>
                    
                    <div class="row">
                    <form action="guardaramigo">
                        <div class="input-field col m3 s12"></div>
                        <div class="input-field col m6 s6">
                            <div class="input-field col m3 s12">
                                <label for="disabled">Ir al cine</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="cine" name="cine" min="0" max="5" value="cine"/>
                            </p>
                            
                            <div class="input-field col m3 s12">
                                <label for="disabled">Ir al parque</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="parque" name="parque" min="0" max="5" value="parque"/>
                            </p>
                            
                            <div class="input-field col m4 s12">
                                <label for="disabled">Ir a tomar un café</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="cafe" name="cafe" min="0" max="5" value="cafe"/>
                            </p>
                            
                            <div class="input-field col m5 s12">
                                <label for="disabled">Ir a un evento deportivo</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="deportivo" name="deportivo" min="0" max="5" value="deportivo"/>
                            </p>
                            
                            <div class="input-field col s12">
                                <label for="disabled">Jugar un videojuego</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="videojuego" name="videojuego" min="0" max="5" value="videojuego"/>
                            </p>
                            
                            <div class="input-field col s12">
                                <label for="disabled">Leer un libro</label>
                            </div>
                            <div class="row"></div>
                            <div class="row"></div>
                            <p class="range-field">
                                <input type="range" id="libro" name="libro" min="0" max="5" value="libro"/>
                            </p>
                        </div>
                        <div class="input-field col m3 s12"></div>
                    </form>
                    </div>
                        
                    <!-- Fin agregados para la nueva vista amigo-->
                        
                    <div class="row">
                        <div class="input-field col m2 s12">
                            <label for="disabled">Se debe llamar a</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input id="llamar" name="llamar" type="text">
                        </div>
                        <div class="input-field col m2 s12">
                            <label for="disabled">al telefono</label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input id="telefono_llamar" name="telefono_llamar" type="text">
                        </div>
                        <div class="input-field col s12">
                            <label for="disabled">para acordar luegares y horarios para las salidas.</label>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="input-field col m5 s12">
                        </div>
                        <div class="input-field col m2 s12">
                            <label for="disabled">¡GRACIAS!</label>
                        </div>
                        <div class="input-field col m5 s12">
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row"></div>
                        
                    <div class="divider"></div>
                        
                    
                    <div class="row">
                        <div class="col m12">
                         <p class="right-align"><button class="btn btn-large waves-effect waves-light" type="submit" name="action">Enviar Formato<i class="material-icons right">send</i></button></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
</body>
</html>