<?php
        $amistad = Amistad::findFirstById($idamistad);
        $useramigo = Usuario::findFirstById($amistad->id_amigo);
        $usercuate = Usuario::findFirstById($amistad->id_cuate);
        $amigo = Formularioamigo::findFirstByCorreo($useramigo->nombre);
        $cuate = Formulariocuate::findFirstByCorreo($usercuate->nombre);
        $dir = dirname(__FILE__);
        $dh  = opendir($dir."/../../../public/amistades/".$idamistad);
        while (false !== ($filename = readdir($dh))) 
        {
         $files[] = $filename;
        }
?>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  
    <meta charset="UTF-8">
</head>


<body style= "background-color:teal;">


<div class='navbar-fixed' 'background-color:teal;'>
      <nav>
            <div class='nav-wrapper'>
              <a href='#!' class='brand-logo'></a>
              <ul class='right hide-on-med-and-down'>
                <li><a href='#'>Cuates Registrados</a></li>
                <li><a href='#'>Amigos Registrados</a></li>
                <li><a href='#'>Crear Amistades</a></li>
                <li><a href='#'>Amistades</a></li>
              </ul>
            </div>
     </nav>
</div>

      
<div class = "container" align="center">
     

<div class="row" >

    <h1>Amistad # <?php echo $idamistad." ".$amigo->nombre." y ".$cuate->nombre; ?></h1>    

    <div class="col s3 push-s2" >
        <a href="../../Perfilamigo/index/<?php echo $amigo->id; ?>"><img class = "circle" class="materialboxed" height="300"width="300" src="../../amigos/<?php echo $amigo->id; ?>/fotoperfil.jpg" ></a>
    </div>

    <div class="col s3 push-s4">
        <a href="../../Perfilcuate/index/<?php echo $cuate->id; ?>"><img class = "circle" class="materialboxed" height ="300" width="300" src="../../cuates/<?php echo $cuate->id; ?>/fotoperfil.jpg"></a>
        <br>
      
    </div>



    </div>

<br>    
<div class="divider"></div>
<br>
</div>


<div class = "container" align="center">

    <div class="row">
      <div class="col s8 push-s2">
        <div class="slider">
            <ul class="slides">
                <?php
                  $tamano = count($files) -2;
                  $indice = 0;
                  while($indice<$tamano)
                  {
                    echo "<li>
                                    <img src='../../amistades/$idamistad/$files[$indice]'>
                                </li>";
                                $indice++;
                  }
                ?>
            </ul>
        </div>
      </div>
    </div>

        <script>
            $(document).ready(function () {
                $('.slider').slider({full_width: true});
            });
        </script> 

<br>    
<div class="divider"></div>
<br>
</div>

</div>

<div class = "container" align="center">
  <div class="row">
      <div class="col s8 push-s2">
        <div class="card grey ">
                <div class="card-content white-text">
                  <span class="card-title">Chat</span>
                  <p>Da click en el link de abajo para poder acceder al chat entre los interantes de la amistad. </p>
                </div>
                <div class="card-action">
                  <a href="../../Chat/admin/<?php echo $idamistad; ?>">Ir al chat !</a>
                </div>
              </div>
        </div>
      </div>

<br>    
<div class="divider"></div>
<br>
</div>

<div class = "container" align="center">

  <div class="row">
      <div class="col s8 push-s2">
    
        <form action="../comentario/<?php echo $idamistad; ?>" method="post">
    <ul class="collection">
      <?php
        $comentarios = Comentario::find("idamistad=$idamistad");
        foreach ($comentarios as $c) 
        {
          echo "<li class='collection-item avatar'>
          <i class='material-icons circle red'>face</i>
          <p align='left'>
            $c->nombre
           </p>

            <p>
            $c->comentario
           </p>
      
          </li>";
        }
      ?>
    
    <li class="collection-item avatar">
      <textarea id="comentario" name="comentario" class="materialize-textarea">
      </textarea>
      <label for="Comentario">Aqui deja tu comentario</label>
      <br>
      <button class="btn waves-effect waves-light" id="enviar" type="submit">Enviar Comentario
    </button>
    </li>
  </ul>
</form>
  </div>

  </div>
  <br>    
<div class="divider"></div>
<br>
        <button class="btn waves-effect waves-light" id="enviar" onclick="../destruir/<?php echo $idamistad; ?>">Terminar Amistad
    </button>

</div>

<br>
    <br>



</body>
</html>